@use "@/shared/assets/styles" as funcs;
@use "@/shared/assets/styles" as mixins;

.inner-block-ui {
  --ib-glob-padd: clamp(0.8rem, 1.25vmax, 1.2rem);
  --ib-inner-padd: clamp(0.6rem, 1vmax, 1rem);

  overflow: hidden;
  @include mixins.whFull();
  @include mixins.tmplFlex();

  &.glob {
    --ib-padd-block: var(--ib-glob-padd, #{funcs.pxToRem(10)});
    --ib-padd-inline: var(--ib-glob-padd, #{funcs.pxToRem(10)});
  }

  &.local {
    --ib-padd-block: var(--ib-inner-padd, #{funcs.pxToRem(7.5)});
    --ib-padd-inline: var(--ib-inner-padd, #{funcs.pxToRem(7.5)});
  }

  &.glob,
  &.local {
    .block,
    .inline,
    .full {
      overflow: hidden;
      @include mixins.whFull();
      @include mixins.tmplFlex();
    }

    .block,
    .full {
      padding-block: var(--ib-padd-block);
    }

    .inline,
    .full {
      padding-inline: var(--ib-padd-inline);
    }
  }
}
