* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

:root {
    --glob-tertiary-color: #eebbc3;
    --glob-secondary-color: #fffffe;
    --glob-bg-color: #d1d1e9;
    --glob-font-color: #232946;
}

::selection {
  background: var(--glob-tertiary-color);
  color: var(--glob-secondary-color);
}

html, body, #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    background: var(--glob-bg-color);
    color: var(--glob-font-color);
}
