@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeOut {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes spinRotate {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

@keyframes dotsLoad {
    from { content: ""; }
    33% { content: "."; }
    66% { content: ".."; }
    to { content: "..."; }
}

#root {
    opacity: 0;
    display: none;
}

#preloader {
    --prel-light-color: color-mix(
        in srgb,
        var(--root-base-color) var(--root-base-perc),
        var(--root-light-color) var(--root-exte-perc)
    );
    --prel-neutral-color: color-mix(
        in srgb,
        var(--root-base-color) var(--root-base-perc),
        var(--root-neutral-color) var(--root-exte-perc)
    );
    --prel-dark-color: color-mix(
        in srgb,
        var(--root-base-color) var(--root-base-perc),
        var(--root-dark-color) var(--root-exte-perc)
    );

    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        45deg,
        var(--prel-dark-color) 15%,
        var(--prel-neutral-color) 85%,
        var(--prel-light-color) 100%
    );
    backdrop-filter: blur(1rem);
    gap: 12.5vh;
    opacity: 0;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease-in 1.5s forwards;
}

#preloader .pre-banner, #preloader .pre-spinner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preloader .pre-banner .banner__text, #preloader .pre-spinner .spinner__text {
    margin-top: clamp(
        1.5rem,
        5vmax,
        2rem
    );
    font-size: clamp(
        1.5rem,
        1.6vmax,
        1.9rem
    );
    color: color-mix(
        in srgb,
        var(--root-dark-color) 100%,
        var(--root-accent-color) 5%
    );
    text-align: center;
    user-select: none;
}

#preloader .pre-banner {
    height: 60%;
    justify-content: flex-end;

    @media (max-height: 650px) {
        height: 80%;
    }
}

#preloader .pre-banner .banner__text {
    font-family: 'CoFoGothic', sans-serif;
    font-weight: 300;
}

#preloader .pre-spinner {
    justify-content: flex-start;
    height: 20%;

    @media (max-height: 650px) {
        height: 19%;
    }
}


#preloader .pre-banner .banner__img {
    width: clamp(
        320px,
        25vmax,
        450px
    );
    height: auto;
    user-select: none;
}

#preloader .pre-spinner .spinner__spin {
    width: clamp(
        2rem,
        2.5vmax,
        2.8rem
    );
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--prel-light-color);
    border-top-color: color-mix(
        in srgb,
        var(--prel-dark-color) 95%,
        var(--root-accent-color) 5%
    );
    animation: spinRotate linear 1.2s infinite;
}

#preloader .pre-spinner .spinner__text {
    position: relative;
    font-family: 'CoFoMilligram', sans-serif;
    font-weight: 600;
}

#preloader .pre-spinner .spinner__text::after {
    content: "";
    position: absolute;
    animation: dotsLoad ease-in 1.2s infinite;
}
