@use "@/shared/assets/styles" as funcs;

:root {
    --app-sel-bg: none;
    --app-sel-color: none;

    --app-scroll-track-color: none;
    --app-scroll-thumb-color: none;

    #light {
        --app-sel-bg: #33c7a2;
        --app-sel-color: #acd3cc;

        --app-scroll-track-color: none;
        --app-scroll-thumb-color: none;
    }

    #dark {
        --app-sel-bg: #3378c7;
        --app-sel-color: #1d2221;

        --app-scroll-track-color: none;
        --app-scroll-thumb-color: none;
    }
}

::selection {
    background: var(--app-sel-bg);
    color: var(--app-sel-color);
}

*::-webkit-scrollbar {
    width: funcs.pxToRem(7.5);
    height: auto;
}

*::-webkit-scrollbar-track {
    background: var(--app-scroll-track-bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--app-scroll-thumb-bg);
    border-radius: funcs.pxToRem(10);

    &:hover {
        background: color-mix(
            in oklab,
            var(--app-scroll-thumb-bg) 85%,
            #ffffff
        );
    }
}
