@use "@/shared/assets/styles" as mixins;

.scroll-block-ui {
  --scrl-parrent-bg: transparent;
  --scrl-shadow-display: none;
  --scrl-shadow-h: clamp(0.8rem, 2vh, 1.2rem);

  overflow: hidden;
  @include mixins.whFull();

  &:has(.scrollable) {
    --scrl-shadow-display: block;

    @include mixins.tmplBefAft(var(--scrl-shadow-h));
  }

  &::before,
  &::after {
    display: var(--scrl-shadow-display);
  }

  &::before {
    top: 0;
    background: linear-gradient(
      to bottom,
      var(--scrl-parrent-bg) 40%,
      transparent 100%
    );
  }

  &::after {
    bottom: 0;
    background: linear-gradient(
      to top,
      var(--scrl-parrent-bg) 40%,
      transparent 100%
    );
  }

  .content {
    overflow-x: hidden;
    overflow-y: auto;
    @include mixins.whFull();

    &.scrollable {
      padding-block: var(--scrl-shadow-h);
    }

    &__box {
      width: 100%;
      min-height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
