img,
svg {
  touch-action: none;
  pointer-events: none;
}

svg {
  color: var(--theme-icon-main-color);

  .main {
    fill: var(--theme-icon-main-color);
    color: var(--theme-icon-main-color);
  }

  .secondary {
    fill: var(--theme-icon-secondary-color);
    color: var(--theme-icon-secondary-color);
  }

  .highlight {
    fill: var(--theme-icon-highlight-color);
    color: var(--theme-icon-highlight-color);
  }

  .tertiary {
    fill: var(--theme-icon-tertiary-color);
    color: var(--theme-icon-tertiary-color);
  }
}

button, button > * {
  background: var(--theme-btn-bg-color);
  color: var(--theme-btn-font-color);

  svg, img {
    background: transparent !important;
  }
}

input, input > * {
  color: var(--theme-input-font-color);
  background: var(--theme-input-bg-color);
  border-color: var(--theme-stroke-color);
  outline-color: var(--theme-stroke-color);
  font-weight: 500;

  &::placeholder {
    color: var(--theme-input-placeholder-color);
  }
}


figure,
img,
svg,
button,
input,
a {
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
a {
  cursor: pointer;
}
