@use "@/shared/assets/styles" as funcs;

:root {
  --theme-sel-bg-color: none;
  --theme-sel-font-color: none;
  --theme-unmixer-color: transparent;
  --theme-mixer-color: transparent;

  --root-info-color: #5a42d1;
  --root-success-color: #00ebc7;
  --root-warning-color: #faae2b;
  --root-error-color: #f4446d;

  --root-spec-1-color: #232946;
  --root-spec-2-color: #3da9fc;
  --root-spec-3-color: #ffc0ad;

  --root-widget-br: clamp(1rem, 1.2vmax, 1.2rem);
  --root-feature-br: clamp(0.9rem, 1.15vmax, 1.1rem);
  --root-block-br: clamp(0.8rem, 1.1vmax, 1rem);
}

::selection {
  background: var(--theme-sel-bg-color);
  color: var(--theme-sel-font-color);
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  @supports (scrollbar-color: auto) {
    scrollbar-color: transparent transparent;
  }

  @supports (scrollbar-width: auto) {
    scrollbar-width: none;
  }

  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @supports selector(::-webkit-scrollbar-track) {
    &::-webkit-scrollbar-track {
      display: none;
    }
  }

  @supports selector(::-webkit-scrollbar-thumb) {
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

[data-theme="light"] {
  --theme-sel-bg-color: #eebbc3eb;
  --theme-sel-font-color: #fffffee9;

  --theme-unmixer-color: #1e233ad5;
  --theme-mixer-color: #f1f1f6d0;

  --theme-bg-color: #fffffe;
  --theme-card-color: #d1d1e9;
  --theme-stroke-color: #2b2c34;

  --theme-btn-bg-color: #6246ea;
  --theme-btn-font-color: #fffffe;

  --theme-link-font-color: #6246ea;
  --theme-link-decor-color: #6146eadf;

  --theme-input-bg-color: #fffffe;
  --theme-input-label-color: #2b2c34;
  --theme-input-placeholder-color: #2b2c34d5;
  --theme-input-font-color: #2b2c34;

  --theme-headline-color: #2b2c34;
  --theme-subheadline-color: #363740;
  --theme-paragraph-color: #343540;

  --theme-icon-stroke-color: #2b2c34;
  --theme-icon-main-color: #fffffe;
  --theme-icon-highlight-color: #513cb7;
  --theme-icon-secondary-color: #d1d1e9;
  --theme-icon-tertiary-color: #e45858;
}

[data-theme="dark"] {
  --theme-sel-bg-color: #3b8d6be0;
  --theme-sel-font-color: #a4a8b3;

  --theme-unmixer-color: #f1f1f6d0;
  --theme-mixer-color: #1e233ad5;

  --theme-bg-color: #242629;
  --theme-card-color: #16161a;
  --theme-stroke-color: #010101;

  --theme-btn-bg-color: #7f5af0;
  --theme-btn-font-color: #fffffe;

  --theme-link-font-color: #7f5af0;
  --theme-link-decor-color: #7050d2dd;

  --theme-input-bg-color: #16161a;
  --theme-input-label-color: #fffffe;
  --theme-input-placeholder-color: #e8eaeb73;
  --theme-input-font-color: #fffffe;

  --theme-headline-color: #fffffe;
  --theme-subheadline-color: #a0acbb;
  --theme-paragraph-color: #94a1b2;

  --theme-icon-stroke-color: #010101;
  --theme-icon-main-color: #fffffe;
  --theme-icon-highlight-color: #7f5af0;
  --theme-icon-secondary-color: #72757e;
  --theme-icon-tertiary-color: #2cb67d;
}

html,
body,
#root {
  background: var(--theme-bg-color);
}
