@use "@/shared/assets/styles" as mixins;

body,
label,
h5,
h6,
p,
a,
input,
input > * {
  font-family: "CoFoGothic", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
th,
figcaption,
legend,
figcaption,
button,
button > * {
  font-family: "CoFoMilligram", sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1,
h2,
h3 {
  color: var(--theme-headline-color);
}

h4,
h5,
th,
label,
figcaption,
legend,
figcaption {
  color: var(--theme-subheadline-color);
}

a {
  color: var(--theme-link-font-color);
  text-decoration: underline;
  text-decoration-color: var(--theme-link-decor-color);
}

h6,
p {
  color: var(--theme-paragraph-color);
}

h1 {
  @include mixins.fluidText(52, 30);
}
h2 {
  @include mixins.fluidText(36, 26);
}
h3 {
  @include mixins.fluidText(32, 24);
}
h4 {
  @include mixins.fluidText(28, 22);
}
h5 {
  @include mixins.fluidText(24, 20);
}
h6,
label,
caption,
legend,
button,
button > *
{
  @include mixins.fluidText(20, 18);
}
input,
input > * {
  @include mixins.fluidText(19, 17);
}
p,
a,
figcaption {
  @include mixins.fluidText(16, 14);
}
