@use "@/shared/assets/styles" as vars;
@use "@/shared/assets/styles" as mixins;

.default-layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--theme-app-color);
    @include mixins.tmplFlex();

    .dl-box {
        overflow: hidden;
        max-width: #{vars.$maxViewportWidth}px ;
        min-width: #{vars.$minViewportWidth}px ;
        background: var(--theme-app-color);
        @include mixins.whFull();
    }
}
