VITE_APP_HOST = # Хост
VITE_APP_PORT = # Порт клиента
VITE_APP_DOMAIN = # Домен клиента
VITE_APP_MODE = # dev | analyze | test | prod 
VITE_APP_PREF = # Преффикс пути клиента
VITE_APP_SECRET = # секрет для шифрования на клиенте

VITE_API_PATH = # Путь сервера
VITE_API_PREF = # Преффикс пути сервера
